body {
  padding: 10px;
}

#movie_categories, #tv_categories {
  padding: 10px;
  float: left;
}

#sorting {
  padding: 10px;
  clear: both;
}

#status {
  padding: 10px;
  clear: both;
}

#iptorrents_url {
  padding: 10px;
  clear: both;
}